doctype 5
html
   head
      title Cloud Repertoire
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      
      link(href="css/bootstrap.min.css", rel="stylesheet", media="screen")
      link(href="css/main.css", rel="stylesheet", media="screen")

      //if lt IE 8
         script(src="js/vendor/html5shiv.js")
         script(src="js/vendor/respond.min.js")

   body
      
      script(type="text/x-handlebars")
         div.container
            {{partial "navbar"}}

            {{outlet}}
      
      script(type="text/x-handlebars", data-template-name="navbar")
         div.navbar.navbar-inverse.navbar-fixed-top
            div.container
               div.navbar-header
                  button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                     span.icon-bar
                     span.icon-bar
                     span.icon-bar
                  a.navbar-brand(href="/") Cloud Repertoire
               div.navbar-collapse.collapse
                  ul.nav.navbar-nav.navbar-right
                     li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown")
                           span.glyphicon.glyphicon-cog
                        ul.dropdown-menu
                           li 
                              a You are connected as 
                                 span= user.first_name
                           li
                              form.navbar-form.navbar-right(action="signout", method="post")
                                 input.btn(type="submit", value="Sign Out")
      
      script(type="text/x-handlebars", data-template-name="index")
         p Template index
         {{outlet}}
         
      script(type="text/x-handlebars", data-template-name="contacts")
         p Template contacts
         {{outlet}}
         
      script(type="text/x-handlebars", data-template-name="contacts/new")
         p Template contacts/new
         {{outlet}}
         
      script(type="text/x-handlebars", data-template-name="contact")
         p Template contact
         {{outlet}}
         
      script(type="text/x-handlebars", data-template-name="contact/index")
         p Template contact/index
         {{outlet}}
         
      script(type="text/x-handlebars", data-template-name="contact/edit")
         p Template contact/edit
         {{outlet}}

   script(src="js/vendor/jquery-1.10.2.js")
   script(src="js/vendor/handlebars-1.0.0.js")
   script(src="js/vendor/ember-1.1.0.js")
   script(src="js/vendor/ember-data.js")
   script(src="js/vendor/bootstrap.min.js")
   script(src="js/app.js")